@model Pokemon


@{ 
    string typeConcat = "";
    string statConcat = "";
    string spriteConcat = "";

    for (int i = 0; i < Model.types.Length; i++)
    {
        typeConcat += Model.types[i].type.name;
        if (i != Model.types.Length - 1)
        {
            typeConcat += ",";
        }
    }

    for (int i = 0; i < Model.stats.Length; i++)
    {
        statConcat += Model.stats[i].stat.name;
        statConcat += ": ";
        statConcat += Model.stats[i].base_stat;
        if (i != Model.stats.Length - 1)
        {
            statConcat += ",";
        }
    }

    spriteConcat += Model.sprites.front_default + "," + Model.sprites.front_shiny;
}

@typeConcat
@spriteConcat
@statConcat

<table class="table table-bordered table-info shadow table-hover">
    <tr>
        <th class="text-center text-uppercase">Pok&eacute;mon</th>
        <th class="text-center text-uppercase">Nickname</th>
        <th class="text-center text-uppercase">Type</th>
        <th class="text-center text-uppercase">Stats</th>
        <th class="text-center text-uppercase">Height</th>
        <th class="text-center text-uppercase">Weight</th>
        <th class="text-center text-uppercase">Base Exp</th>
        <th class="text-center text-uppercase">Sprites</th>

        <th class="text-center text-uppercase"></th>
    </tr>
    <tr>
        @*Capitalize Name*@
        @{
            string nameUpper = "";
            nameUpper += Model.name[0].ToString().ToUpper();
            nameUpper += Model.name.Substring(1, Model.name.Length - 1);
        }
        <td class="align-middle text-center font-weight-bold">@nameUpper</td>
        <td class="align-middle text-center font-weight-bold">
            ViewBag.NickName @*CHANGE THIS*@
        </td>
        <td class="align-middle font-weight-bold">
            @{ for (int i = 0; i < Model.types.Length; i++)
                {
                    @Model.types[i].type.name;

                    if (i != Model.types.Length - 1)
                    {
                        <br />
                    }
                }
            }
        </td>
        <td class="align-middle font-weight-bold">
            @{ for (int i = 0; i < Model.stats.Length; i++)
                {
                    <div>@Model.stats[i].stat.name: @Model.stats[i].base_stat</div>
                }
            }
        </td>
        <td class="align-middle text-center font-weight-bold">@Model.height</td>
        <td class="align-middle text-center font-weight-bold">@Model.weight</td>
        <td class="align-middle text-center font-weight-bold">@Model.base_experience</td>
        <td class="align-middle text-center font-weight-bold">
            Default<br />
            <img src="@Model.sprites.front_default" alt="@nameUpper" title="@nameUpper" /><br />
            Shiny<br />
            <img src="@Model.sprites.front_shiny" alt="Shiny @nameUpper" title="Shiny @nameUpper" />
        </td>



        <td class="align-middle text-center">
            <button class="btn-danger btn" onclick="confirmDelete()">Remove</button><br /><br />
            <a href="../Pokemon/UpdatePokemon?id=@Model.id"><button class="btn-warning btn">Update</button></a>

            <script type="text/javascript">
                    function confirmDelete() {
                        var url = '../Pokemon/RemoveFromFavorites?id=@Model.id';
                        var c1 = confirm("Are you sure you want to delete this task? OK=Yes, Cancel=No")
                        if (c1 == true) {
                            var c2 = confirm("Are you REALLY sure you want to delete this task?? OK=Yes, Cancel=No")
                            if (c2 == true) {
                                var c3 = confirm("Are you REALLY REALLY sure you want to delete this task??? OK=Yes, Cancel=No")
                                if (c3 == true) {
                                    window.location.href = url;
                                }
                            }
                        }
                    }
            </script>
        </td>
    </tr>
</table>
